* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* shared section */

.primary-title {
    font-size: 2rem;
    font-weight: 700;
}

.primary-description {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 48px;
    background: #FF42A5;
    padding: 15px 30px;
    border: 0;
}

/* nav section start from here */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    background: #FFF;
box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
    font-weight: 700;
}

.logo img {
    width: 75px;
    height: 35px;
    object-fit: cover;
}

.word-color {
    color: #ff42a5;
}

.nav-manu {
    display: flex;
    align-items: center;
}

.nav-manu li {
    list-style: none;
    margin-left: 30px;
}

.nav-manu a {
    text-decoration: none;
    color: #3C354F;
font-size: 1rem;
font-weight: 500;
}

.nav-button{
    display: flex;
    align-items: center;
    /* gap: 8px; */
    border: 0;
    border-radius: 5px;
    font-size: .9rem;
}
.nav-button img, .nav-button {
    padding: 8px;
}

/* this is for banner */

.banner {
    display: flex;
    align-items: center;
}

.banner-container {
    background-image: url(../images/group-14.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    align-items: center;

}

.banner-title-1 {
    font-size: 2rem;
    font-weight: 600;
}

.banner-title-2 {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
}

.btn-go-rogue {
    background: #4EC5F7;
    margin-left: 15px;
}

.banner-image>img {
    width: 500px;
    height: 500px;
}

/* main section start from here */
main {
    margin: 100px 150px;
}

/* this is video section */

.video-box-content {
    display: flex;
}

.videos-title {
    text-align: center;
}

.Funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.video-box {
    width: 300px;
    height: 400px;
}

.video-box img {
    width: 250px;
    height: 300px;
}

.video-box p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 500;
}

/* play instantly start from here */

.play-instant-container {
    display: flex;
    align-items: center;
}

.play-instant-content {
    text-align: end;
    width: 50%;
    padding-right: 50px;
    padding-left: 200px;
}

.play-instant-images {
    width: 50%;
}

.play-instant-image-1 {
    width: 460px;
    height: 470px;
    margin-left: 100px;
}

.play-instant-image-2 {
    width: 250px;
    height: 270px;
    position: relative;
    top: -200px;
}

.word-play {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* this is for button section */

.buttons img {
    width: 35px;

}

.buttons button {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 0;
    background-color: #FFF;

    color: #0B0223;
    font-size: .8rem;
    font-weight: 600;
}

.button-row {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.btn-hover :hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    color: #FF42A5;
}

/* footer starts here */

footer {
    background: #0B0223;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-manus {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer-icons a {
    margin: 10px;
}

.footer-manus li {
    list-style: none;
}

.footer-terms-and-condition a {
    margin: 10px;
}

.footer-terms-and-condition {
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer-manus a {
    text-decoration: none;
    color: #FFF;
}

.footer-terms-and-condition a, .footer-container p{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
}

/* for media query */

/* media query for small device */

@media screen and (max-width: 425px) {
    .nav-container, .nav-manu {
        flex-direction: column;
        gap: 20px;
    }
    .nav-container{
        margin: 0 5;
    }
    
    .banner, .video-box-content, .play-instant-container{
        flex-direction: column;
    }
    main{
        margin: 0;
    }
    .banner-image>img {
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
    }
    .play-instant-content {
        text-align:justify;
        padding-right: 0px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .play-instant-images {
        width: 0;
    }
    .play-instant-image-1 {
        width: 300px;
        height: 350px;
        margin-left: 100px;
    }
    
    .play-instant-image-2 {
        width: 150px;
        height: 170px;
        position: relative;
        top: -150px;
    }
    .play-instant-container {
        display: flex;
        align-items:baseline;
    }
}