* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

/* shared section */

.primary-title {
    font-size: 2rem;
    font-weight: 700;
}

.primary-description {
    color: #534C64;
    font-size: .8rem;
    font-weight: 400;
    margin-top: 20px;
}

.btn-primary {
    color: #FFF;
    font-size: .8rem;
    font-weight: 600;
    border-radius: 48px;
    background: #FF42A5;
    padding: 15px 30px;
    border: 0;
}

/* nav section start from here */

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.7rem;
    font-weight: 700;
}

.nav-title img {
    width: 75px;
    height: 35px;
    object-fit: cover;
}

.word-color {
    color: #ff42a5;
}

.nav-manu {
    display: flex;
}

.nav-manu li {
    list-style: none;
    margin-left: 30px;
}

.nav-manu a {
    text-decoration: none;
}

/* this is for banner */

.banner {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* margin: 0 150px; */
}

.banner-container {
    background-image: url(../images/group-14.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    align-items: center;

}

.banner-title-1 {
    font-size: 2rem;
    font-weight: 600;
}

.banner-title-2 {
    font-size: 4rem;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-list {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 25px;
}

.btn-go-rogue {
    background: #4EC5F7;
    margin-left: 15px;
}

.banner-image>img {
    width: 500px;
    height: 500px;
}

/* main section start from here */
main {
    margin: 100px 150px;
}

/* this is video section */

.video-box-content {
    display: flex;
}

.videos-title {
    text-align: center;
}

.Funny-videos {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-description {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.video-box {
    width: 300px;
    height: 400px;
}

.video-box img {
    width: 250px;
    height: 300px;
}

.video-box p {
    color: #534C64;
    font-size: .8rem;
    font-weight: 500;
}

/* play instantly start from here */

.play-instant-container{
    display: flex;
    align-items: center;
}
.play-instant-content{
    text-align: end;
    width: 50%;
    padding-right: 50px;
    padding-left: 200px;
}
.play-instant-images{
    width: 50%;
}
.play-instant-image-1{    
    width: 460px;
    height: 470px;
}
.play-instant-image-2{
    width: 250px;
    height: 270px;
}
.word-play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}